.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.light{
  color: rgb(41, 41, 41);
  background: rgb(255, 222, 228)
}
.dark {
  background: rgb(41, 41, 41);
  color: rgb(255, 222, 228);
}
.App button {
  margin: 0.2em;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: rgba(107, 154, 154, 0.5);
  color: white;
}
#container {
  padding-top: 5vh;
  height: 50vh;
  width: 50%;
  border-radius: 10px;
}
h1 {
  color: rgba(107, 154, 154, 0.5);
}